@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* STRUCTURE */

body {
  background-color: #ffffff;
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
  color: #333;
  font-weight: 700;
}

h1 {
	font-size: 35px;
	margin-bottom: 30px;
	margin-top: 30px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
}

a {
  color: #1abc9c;
  word-wrap: break-word;
}

a:hover,
a:focus {
  color: #7b7b7b;
  outline: 0;
  text-decoration: none;
}

hr {
  border-top: 1px solid #ccc;
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/* COMPONENTS */

.mtb {
	margin-bottom: 40px;
	margin-top: 40px;
}

.pt { padding-top: 50px; }
.pb { padding-bottom: 50px; }

.biglink {
  display: inline-block;
  padding-bottom: 50px;
}

.biglink:hover img,
.biglink:focus img {
  opacity: 0.8;
}

.biglink h3 {
  transition: all .2s ease-in-out;
}

.biglink:hover h3 {
  color: #1abc9c;
}

.quote {
  color: #d3d3d3;
  font-size: 24px;
  line-height: 1.2;
}

#quote2 {
  padding-bottom: 50px;
}

@media only screen and (min-width : 768px) {
  .biglink { padding-bottom: 0; }
  #quote1 { padding-top: 4.5rem; }
  #quote2 { padding-top: 3rem; }
}

@media only screen and (min-width : 992px) {
  .quote  { font-size: 36px; }
  #quote1 { padding-top: 5rem; }
  #quote2 { padding-top: 3rem; }
}

@media only screen and (min-width : 1200px) {
  #quote1 { padding-top: 7rem; }
  #quote2 { padding-top: 5rem; }
}

.main {
  font-size: 16px;
}

.footer {
	background-color: #2f2f2f;
	padding-bottom: 50px;
	padding-top: 50px;
}

.footer p {
	color: white;
}

.footer h4 {
	color: white;
	padding-bottom: 20px;
	text-transform: uppercase;
}

/* Navbar */
.navbar {
	background-color: #eee;
	border-color: #ddd;
	padding-bottom: 10px;
	padding-top: 10px;
}

.navbar .navbar-nav {
  text-transform: uppercase;
}

.navbar-brand {
  color: #333;
	font-size: 20px;
	font-weight: 700;
}

.navbar-toggle {
  border-color: #1abc9c;
}

.navbar-toggle .icon-bar {
  background-color: #1abc9c;
}

.navbar-toggle:hover {
  border-color: #7b7b7b;
}
.navbar-toggle:hover .icon-bar {
  background-color: #7b7b7b;
}
